@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles */
button{
    @apply w-fit;
}

header, main, section, footer{
    @apply w-full;
}

/* App description */
.benefit{
    @apply w-full flex flex-col items-start space-y-4 bg-gray font-medium rounded-xl pl-5 pr-8 py-4;
}

.benefit i{
    @apply text-[2rem] bg-white rounded-xl p-3;
}

.benefit h3{
    @apply text-[1.25rem] font-bold;
}

.benefit h4{
    @apply text-[0.9rem]
}

/* Example contact */
.contact{
    @apply w-full flex justify-between space-x-12 items-center bg-[#487898] rounded-2xl p-4;
}

.contact .info{
    @apply flex space-x-2;
}

.contact .info h3{
    @apply text-[1.2rem] font-bold; 
}

.contact .info p{
    @apply text-[0.9rem]; 
}

.contact .info img{
    @apply size-20 rounded-2xl;
}

.contact .contact-actions{
    @apply flex space-x-2;
}

.contact .contact-actions i{
    @apply size-auto text-[1.75rem] border border-gray rounded-xl p-2;
}

/* How it works */
.step{
    @apply w-full text-left border-2 border-gray rounded-xl transition-all duration-375 hover:bg-gray cursor-pointer pl-3 pr-5 pt-4 pb-3;
}

.step h6{
    @apply transition-all duration-375;
}

.step:hover > h6{
    @apply font-semibold;
}

.step img{
    @apply w-full scale-90 transition-all duration-375;
}

.step:hover > img{
    @apply scale-105;
}

.step h3{
    @apply w-full text-[1.2rem] font-bold; 
}

.step p{
    @apply text-[0.9rem] transition-all duration-375; 
}

.step:hover > p{
    @apply font-medium;
}


/* Inner and outer borders */
.circle-border {
    --gradient: conic-gradient(
        from 315deg,
        #f9faff,
        #d7e1f9,
        #f9faff
    );
    --border-width: 8px;
    --width: 45%;

    width: var(--width);
    aspect-ratio: 1 / 1; /* Ensures the element maintains a 1:1 aspect ratio */
    border: var(--border-width) solid transparent;
    border-radius: 100%;

    /*
    For Safari >= 18.2:
    Uses the `background` shorthand with the new `border-area` value for `background-clip`.
    `border-box` is necessary for `background-origin` in early implementations,
    but an update to the spec hints that it can be dropped in the future.
    */
    @supports (background-clip: border-area) {
        background: var(--gradient) border-box border-area;
    }

    /*
    For Chromium, Firefox and Safari <= 18.1:
    Uses a pseudo element with two overlapping mask images,
    one covering the border box and the other the padding box.
    The overlap defines the cut-out area.
    */
    @supports not (background-clip: border-area) {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: calc(-1 * var(--border-width));
            border: inherit;
            border-radius: inherit;
            background: var(--gradient) border-box;
            mask:
                conic-gradient(#000 0 0) padding-box exclude,
                conic-gradient(#000 0 0);
            pointer-events: none;
        }
    }
}


/* Reviews section */
.comment{
    @apply w-fit z-20 absolute;
}

.comment img{
    @apply size-24 rounded-3xl mb-2.5;
}

.bubble{
    @apply w-80 bg-gray text-left rounded-3xl shadow-[0px_0px_5px_5px_rgba(0,_0,_0,_0.1)] p-8 relative;
}

.arrow{
    width: 3rem;
    aspect-ratio: 1 / 1;
    background-color: #f2f4fa;
     clip-path: 
     polygon(50% 50%, 0 100%, 100% 100%);
    position: absolute;
}

.bubble i{
    @apply text-[1.9rem];
}

.bubble .text{
    @apply flex flex-col space-y-0.5;
}

.bubble .text p{
    @apply font-medium;
}

.bubble .text h6{
    @apply font-bold;
}

/* Social media icons */
.icon{
    @apply size-10 flex justify-center items-center bg-gray text-[#487898] text-[1.75rem] border border-gray rounded-full transition-all duration-375 hover:text-[var(--icon-color)];
}